<div title="用户管理" data-options="closable:false,iconCls:'icon-tip'" style="width: 100%; height: 100%">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false">
            <!-- Begin of toolbar -->
            <div id="zy-toolbar">
                <div class="zy-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openAdd()" plain="true">添加</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openEdit()" plain="true">修改</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="baseRemove()" plain="true">删除</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="resetPass()" plain="true">重置密码</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-refresh" onclick="reload()" plain="true">刷新</a>
                </div>                
                <div class="zy-toolbar-search">
                    <form id="zy-search-form">
                        <label>UID: </label><input class="easyui-textbox" name="uid" style="width:100px;">
                        <label>用户名: </label><input class="easyui-textbox" name="uname" style="width:100px;">
                        <label>用户角色：</label>
                        <select class="easyui-combobox" panelHeight="auto" name="role" style="width:150px">
                            <option value="0">选择用户组</option>
                            <option value="2">管理员</option>
                            <option value="1">普通用户</option>
                        </select>
                        <a href="javascript:;" onclick="baseSearch()" class="easyui-linkbutton" iconCls="icon-search">开始检索</a>
                    </form>
                </div>
            </div>
            <!-- End of toolbar -->
            <table id="zy-datagrid" toolbar="#zy-toolbar"></table>
        </div>
    </div>
    <div id="zy-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="zy-form" method="post">
            <table style="width:100%; height:100%;" cellpadding="8">
                <tr style="display:none;">
                    <td></td><td><input class="easyui-textbox" name="uid"></td>
                </tr>
                <tr>
                    <td>用户名<span style="color:red">*</span></td><td><input class="easyui-textbox easyui-validatebox" name="uname" data-options="required:true" style="width:90%"></td>
                </tr>
                <tr>
                    <td>手机号<span style="color:red">*</span></td><td><input class="easyui-textbox easyui-validatebox" name="phone" data-options="required:true" style="width:90%"></td>
                </tr>
                <tr>
                    <td>邮箱地址<span style="color:red">*</span></td><td><input class="easyui-textbox easyui-validatebox" name="email" data-options="required:true, validType:'email'" style="width:90%"></td>
                </tr>                
                <tr>
                    <td>用户头像</td><td><input class="easyui-textbox" name="avatar" style="width:90%"></td>
                </tr>
                <tr>

                    <td>用户角色</td><td>
                    <select class="easyui-combobox" name="role" panelHeight="auto" style="width:90%" data-options="editable:false">
                        <option value="1" selected="selected">普通用户</option>
                        <option value="2">管理员</option>
                    </select></td>
                </tr>  
            </table>
        </form>
    </div>    
</div>
<script type="text/javascript">

function baseAdd () {
    $("#zy-form").form('submit', {
        url:"/platmis/authmis/useradd",
        onSubmit: function(){
            var isValid = $(this).form('validate');
            if (!isValid){
                $.messager.alert('信息提示','提交数据不正确, 请检查','info');
            }
            return isValid; 
        },
        success: function(data){
            data = JSON.parse(data); 
            if(data.errNo == 0){
                $.messager.alert('信息提示','提交成功！','info');
                $('#zy-dialog').dialog('close');
                $('#zy-datagrid').datagrid('load');
            }
            else
            {
                $.messager.alert('信息提示','Error: '+ data.errstr,'error');
            }
        }
    });
}

function baseEdit(){
    $("#zy-form").form('submit', {
        url:"/platmis/authmis/useredit",
        onSubmit: function(){
            var isValid = $(this).form('validate');
            if (!isValid){
                $.messager.alert('信息提示','提交数据不正确, 请检查','info');
            }
            return isValid; 
        },
        success: function(data){
            data = JSON.parse(data); 
            if(data.errNo == 0){
                $.messager.alert('信息提示','提交成功！','info');
                $('#zy-dialog').dialog('close');
                $('#zy-datagrid').datagrid('load');
            }
            else
            {
                $.messager.alert('信息提示','Error: '+ data.errstr,'error');
            }
        }
    });    
}

function makeEditInfo () {
    var item = $('#zy-datagrid').datagrid('getSelected');
    if (!item) {
        $.messager.alert('信息提示','请选择一项数据!','info');
        return false;
    }
    item['role'] = "普通用户"==item['role']?1:2;
    $('#zy-form').form('load', item);
}

/**
* Name 删除记录
*/
function baseRemove(){
    var item = $('#zy-datagrid').datagrid('getSelected');
    if (!item) {
        $.messager.alert('信息提示','请选择一项数据!','info');
        return false;
    }    
    var uid = item['uid'];
    $.messager.confirm('信息提示','确定要删除该用户？', function(result){
        if(result){
            $.ajax({
                url:"/platmis/authmis/userdel",
                data:{'uid':uid},
                success:function(data){
                    data = JSON.parse(data); 
                    if(data.errNo == 0){
                        $.messager.alert('信息提示','删除成功！','info');
                        $('#zy-datagrid').datagrid('load');
                    }
                    else
                    {
                        $.messager.alert('信息提示','删除失败！'+data.errstr,'info');
                    }
                }
            });
        }
    });
}

function resetPass () {
    var item = $('#zy-datagrid').datagrid('getSelected');
    if (!item) {
        $.messager.alert('信息提示','请选择一项数据!','info');
        return false;
    }    
    var uid = item['uid'];    
    $.messager.confirm('信息提示','确定要重置该用户密码？', function(result){
        if(result){
            $.ajax({
                url:"/platmis/authmis/userreset",
                data:{'uid':uid},
                success:function(data){
                    data = JSON.parse(data); 
                    if(data.errNo == 0){
                        $.messager.alert('信息提示','重置成功, 默认密码123456','info');
                    }
                    else
                    {
                        $.messager.alert('信息提示','重置失败！'+data.errstr,'info');
                    }
                }
            });
        }
    });    
}

function reload () {
    $('#zy-datagrid').datagrid('load');
}

$(function (){
    $('#zy-datagrid').datagrid({
        url:"{{resource.base_url}}/platmis/authmis/userlist",
        loadFilter:pagerFilter,
        rownumbers:true,
        pageSize:20,
        pagination:true,
        multiSort:true,
        fitColumns:true,
        fit:true,
        checkbox:true,
        columns:[[
            { field: 'ck', checkbox: true },
            { field:'uid',title:'UID', width:100},
            { field:'uname',title:'用户名', width:100},
            { field:'role',title:'用户角色', width:100},
            { field:'phone',title:'手机号码', width:100},
            { field:'email',title:'邮件地址', width:100},
            { field:'avatar',title:'用户头像', width:100, align:'center', formatter: function(value,row,index){
                var avatar = value == "" ? "" : "<a style='color:blue;' href='"+value+"' target='_blank'>预览</a>";
                return avatar;
            }},
            { field:'createdTime',title:'创建时间', width:100}
        ]]
    });
});

</script>