<!DOCTYPE html>
<html>
<head>
    <title>{{ result.title }}</title>
</head>
<body>
    {{ result.header }}
    <hr>
    <p>name:{{result.name}}</p>
    <p>password:{{result.password}}</p>
</body>
</html>